/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #333;
}

main {
  padding: 4em 1em;
  padding-top: 5rem;
  max-width: 50rem;
  margin: auto;
}

.main {
  padding: 4em 1em;
  padding: 2rem;
}

h1 {
  padding-top: 1em;
  font-size: 2rem;
  color: #c31c4a;
  text-align: center;
}

h3,
h2,
h1 {
  margin: .5rem 0;
}

p {
  font-size: 1.2rem;
  text-align: justify;
  padding-bottom: 1rem;
}

a {
  color: #c31c4a;
}

/* HOME */
#domov {
  background-image: url("https://malinovypohar.sk/static/images/runners2.jpg");
  background-position: center center;
  /* background-attachment: fixed; */
  background-size: cover;
  background-origin: content-box;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
}

#title {
  float: right;
  margin-top: 40vh;
  width: 50vh;
}

/* NAV */
nav {
  margin: 0;
  padding: 1rem;
  text-align: center;
  background-color: #c31c4a;
  opacity: .9;
  position: absolute;
  z-index: 100;
  width: 100%;
}

nav li {
  white-space: nowrap;
  display: inline;
  margin: 1.5rem;
  font-weight: 500;
}

nav a {
  text-decoration: none;
  color: #eee;
  font-size: 1.4rem;
  font-weight: bold;
}

.map {
  border-bottom: solid #c31c4a;
  border-right: solid #c31c4a;
  border-left: solid #c31c4a;
}

#menu-btn {
  display: none;
  padding: 0 1rem;
}

#tracks {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tracks li {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5rem;
  padding: .2rem;
  border-top: solid #c31c4a;
  border-right: solid #c31c4a;
  border-left: solid #c31c4a;

}

.inactive {
  border: none !important;
  border-bottom: solid #c31c4a !important;
}

.inactive a {
  color: #888;
}

/* REGISTRATION - info */
#registracia span {
  text-align: left;
}

/* REGISTRATION - inputs */
input,
label {
  color: #333;
  text-decoration: none;
  font-size: 1.4rem;
}

input[type=text],
input[type=email] {
  margin: 1rem 0;
  padding: .5rem;
  width: 100%;
  border: none;
  border-bottom: solid #c31c4a;
}

input:invalid {
  border: none;
  border-bottom: solid #c31c4a;
}

label {
  margin: 1rem 0;
  padding: .5rem 0;
  display: inline-block;
  width: 100%;
  margin-bottom: 0;
}

label a {
  color: #c31c4a;
  font-weight: 500;
}

input[type=checkbox] {
  margin: .1rem;
  padding: .5rem;
}

input[type=checkbox]:checked {
  margin: .1rem;
  padding: .5rem;
  border: none;
  background-color: #fff;
  background-size: 17px 17px;
  margin: 1px;
}

.radio-title {
  color: #333;
}

input[type=submit] {
  color: #c31c4a;
  margin: 1.5rem 0 0 0;
  padding: .7rem .9rem;
  font-size: 1.4rem;
  border: #c31c4a solid;
  background-color: #fff;
  border-radius: .2rem;
  display: block;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select {
  display: inline-block;
  width: 100%;
  padding: .5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  background-color: #fff;
  border: solid #c31c4a;
}

input[type=submit]:hover {
  border: #c31c4a solid;
  background-color: #c31c4a;
  color: #fff;
  border-radius: .2rem;
  cursor: pointer;
}

/* MESSAGES */
.error {
  color: #c31c29;
}

/* SPONSORS */
#sponsors {
  padding: 0;
}

.sponsor {
  width: 24%;
  text-align: center;
  display: inline-block;
  filter: grayscale(1);
  vertical-align: middle;
}

.sponsor:hover {
  filter: grayscale(0);
}

/* RESULTS */
.toc li {
  padding-left: 1rem;
}

.toc a {
  text-decoration: none;
  color: #333;
}

#vysledky h2 {
  text-align: center;
}

#results {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0 2rem 0;
}

#results a {
  width: 50%;
  text-align: center;
  text-decoration: none;
  padding: .5rem;
  background-color: #c31c4a;
  color: #fff;
  margin: 0 1rem;
  font-size: 1.2rem;
}

#results a:first-child {
  background-color: #fff;
  color: #c31c4a;
  border: #c31c4a solid;
}

#results a:first-child:hover {
  background-color: #c31c4a;
  color: #fff;
  border: #c31c4a solid;
}

#results a:nth-child(2):hover {
  background-color: #fff;
  color: #c31c4a;
  border: #c31c4a solid;
}

#records {
  display: flex;
  text-align: center;
}

/* US */
#o-nas {
  text-align: center;
}

#o-nas div {
  width: 49%;
  display: inline-block;
  vertical-align: top;
  padding: 0 1rem;
}

#o-nas img {
  width: 100%;
  max-width: 20rem;
  border-radius: 100%;
  margin: 1.5rem 0;
}

#o-nas h2 {
  color: #c31c4a;
  font-size: 2rem;
}

#o-nas p {
  margin: 1rem 0;
}

/* FOOTER */
footer {
  background-color: #c31c4a;
  color: #eee;
  padding: .7rem;
  font-size: 1.2rem;
  text-align: center;
}

#kontakt,
footer ul {
  text-align: center;
  background-color: #d24069;
  display: block;
  color: #eee;
  padding: 1rem;
}

#kontakt li {
  display: inline-block;
  padding: 0 .5rem;
}

#kontakt a {
  color: #eee;
  text-decoration: none;
}

#kontakt i {
  padding: 0 .5rem;
}

/* PROPOSITIONS */
#propositions p {
  padding-bottom: .5rem;
  font-size: 1rem;
}

#propositions h3 {
  margin: .4rem 0 0 0;
}

/* RESULTS */
.table-wrap {
  overflow-x: auto;
}

.table-wrap table {
  width: 100%;
}

td {
  padding: .2rem;
}

th {
  background-color: #c31c4a;
  color: #eee;
  padding: .1rem .2rem;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:hover {
  background-color: #ddd;
}

.winners {
  display: inline-block;
  width: 49%;
  text-align: center;
}

/* MODAL */
/* The Modal (background) */
.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 4rem;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  border-radius: .2rem;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #fff;
  text-align: left;
  width: 95%;
  max-width: 50rem;
}

.modal-content section {
  padding: 1rem 2.5rem;
}

.modal-content p {
  text-align: left;
}

#shirt-modal {
  display: none;
}

#qrcode img,
.qrcode-img {
  padding: 1rem;
  border: 3px dashed #d24069;
  margin: 0 auto;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* AUTOCOMPLETE */

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
}

.autocomplete-items {
  position: absolute;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: .7rem;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #d24069 !important;
  color: #ffffff;
}

/* MEDIA */
@media only screen and (max-width: 975px) {
  #menu-btn {
    display: inline-block;
  }

  nav ul {
    display: none;
  }

  nav li {
    display: block;
    margin: .15rem 1rem;
  }

  nav {
    text-align: right;
    padding: .7rem;
  }

  #kontakt li {
    width: 49%;
  }
}

@media only screen and (max-width: 660px) {
  nav li {
    margin: 0 .6rem;
  }

  #results {
    flex-direction: column;
  }

  #results a {
    margin: 1rem;
    width: 100%;
  }

  #o-nas div {
    width: 100%;
    padding: 0;
  }

  #kontakt h2 {
    margin: 0.1rem;
  }

  #kontakt {
    padding: .5rem;
  }

  #kontakt li {
    padding: .1rem 0;
    display: block;
    width: 100%;
  }

  .sponsor {
    width: 49%;
  }

  footer {
    font-size: 1rem;
    padding: .5rem;
  }

  .modal-content section {
    padding: .5rem 1rem;
  }

  .title-wrap {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 510px) {
  #records {
    flex-direction: column;
  }

  .record {
    margin: 1rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  p,
  label,
  a,
  input,
  span,
  .flash-message {
    font-size: 1rem;
  }

  input[type=submit],
  input[type=submit]:hover {
    padding: .3rem;
  }

  .modal-content section {
    padding: .2rem .3rem;
  }
}

/* SPETIAL */
.raspberry-list p {
  padding-bottom: .5rem;
}

.raspberry-list p::before {
  content: '';
  background: url('https://malinovypohar.sk/static/images/favicon.png') no-repeat;
  background-size: 1.2rem 1.2rem;
  display: block;
  float: left;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0 .5rem;
}

.block {
  display: block;
}

.hidden {
  display: none;
}
